/* Start of 'universal' 'elements' */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}
.btn {
  border-radius: 5px;
}
.btn-danger:hover {
    color: #fff;
    background-color: #c82333;
    border-color: #bd2130;
}

.btn-primary:hover {
    color: #fff;
    background-color: #0069d9;
    border-color: #0062cc;
}

.btn-secondary {
    color: #fff;
    background-color: #6c757d;
    border-color: #6c757d;
 
}

.cancel-submit-btns-div {
    margin-top: 2rem;
}

.btn-primary {
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;

}

.btn:hover {
    color: #212529;
    text-decoration: none;
}

[type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
    cursor: pointer;
}

.btn-danger {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
}

label {
    display: block;
    font-size: 1.5rem;
    margin-bottom: 1.5rem;
}

.Layout-index-eye-image {
    width: 1.5rem;
    height: 2.1rem;
    font-weight: bold;
    margin-right: .25rem;
}

.home-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    /*margin-right: .4rem;*/
}

.home-icon {
    width: 1.5rem;
    height: 1.6rem;
    margin-right: .4rem;
}

.nav-bar {
    background-color:#e2e2e2de;
    color:#575454d4;
    border-radius: 5px;
    font-size: 1rem;
    padding: 1rem;
    margin-bottom: 2rem;
    display: flex;
    align-items: center;
    text-align: center;
}

.nav-bar-slash {
    margin: 0 .45rem 0 .5rem;
}

.Layout-index-add-image {
    width: 1.75rem;
    height: 1.85rem;
}


/* End of 'universal' 'elements' */

/* Start of ./Layout/Footer.js */

.end-footer {
    padding: 1rem;
    border-radius: .3rem .3rem 0 0;
    
}

/* End of Layout/Footer.js */



.footer-p {
  
}

/* Start of './Layout/index.js' */

.Layout-main-row {
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 300px);
    /*min-height: 70vh;
    max-height: 40vh;*/
}

.Layout-main-index-container {
    padding: 0;
}

.Layout-index-deck-col {
    border: 1px solid #dfd6d6;
    /*padding: 1.1rem;*/
    border-radius: 5px;
}

.decks-row, .Deck-card-row {
    gap: 1rem;
    margin-bottom: 2rem !important;
}

.create-deck-btn-row {
    margin-bottom: 2rem !important;
}

/*.create-deck-btn-row, .decks-row {
    margin-bottom: 2rem !important;
}*/

.Layout-index-create-deck-btn {
    display: flex;
    align-items: center;
    gap: 5px;
    padding-left: .344rem;
    /*margin-top: .5rem;
    margin-bottom: 1%;*/
}

.trashcan-btn {
    justify-self: flex-end;
}

.Layout-index-btns-div, .Deck-deck-btns-div {
    display: flex;
    justify-content: space-between;
}

.first-index-btns-div, .first-deck-btns-div {
    display: flex;
    gap: .75rem;
}

.Layout-index-view-deck-btn {
 /*margin-right: 1%;*/ 
 background-color: #6c757d;
 color: #fff;
 border:1px solid #6c757d;
 padding: .01rem 3.009rem .01rem 2.5855rem;
 border-radius: 6px;
 text-decoration: none; 
 align-items: center;
 justify-content: center;
 width: 4.7rem;
 display: flex;
}

.Layout-index-study-deck-btn {
    /*margin-right: 72%;*/ 
    background-color: #0d6efd;
    color:#fff;
    padding: .1rem 2.89rem .1rem 2.75rem;
    border-radius: 6px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5.4rem;
    gap: 3px;
}

.Layout-index-delete-deck-btn {

}

.create-deck-link {
    background-color: #6c757d;
    color: #fff;
    border:1px solid #6c757d;
    padding: 6px 12px;
    border-radius: 6px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 11%;
    gap: 5px;  
    margin-bottom: 1.5%;
}

.create-deck-link:hover {
    color: #fff;
    text-decoration: none;
    background-color: #5c636a;
    border-color: #565e64;
}

.create-deck-link:focus {
    color: #fff;
    text-decoration: none;
    box-shadow: rgb(130, 138, 145);
}

.create-deck-link:active {
    color: #fff;
    text-decoration: none;
    background-color: #565e64;
    border-color: #51585e;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.create-deck-link:disabled {
    color: #fff;
    text-decoration: none;
    background-color: #6c757d;
    border-color: #6c757d;
}


.trashcan-link {
    color: #fff;
    background-color: #dc3545;
    border:1px solid #dc3545;
    padding: .8rem 0;
    border-radius: 6px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 3.4rem;
    gap: 5px;
}
.trashcan-link:hover {
    background-color: #bb2d3b;
    color:#fff;
    border-color: #b02a37; 
    text-decoration: none; 
}

.trashcan-link:focus {
    box-shadow: rgb(225, 83, 97);
    text-decoration: none;
}

.trashcan-link:active {
    color: #fff;
    background-color: #b02a37;
    border-color: #a52834;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    text-decoration: none;
}
.trashcan-link:disabled {
    color: #fff;
    background-color: #dc3545;
    border-color: #dc3545;
    text-decoration: none;
}
.Layout-index-card-count-div {
    display:inline-block;
    color: #a5a5a5;
}

.Layout-index-deck-title {
    display:inline-block;
    color: #676666;
}

.Layout-index-header-card-count-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.Layout-index-deck-description {
    color: #676666;
}

.Layout-indexheader-card-count-div {

}

.Layout-index-trashcan-image {

}

.Layout-index-book-image, .Layout-index-trashcan-image {
    width: 1.5rem;
    height: 1.5rem;
}

.Layout-index-book-image {

}

/* End of './Layout/index.js' */

/* Start of './Layout/Header.js' */
.top-header {
    border-radius: 0 0 .3rem .3rem;
}
/*Eno of 'Layout/Footer.js' */

/* Start of CreateDeck.js */

.CreateDeck-main-row, .Deck-main-row, .EditDeck-main-row {
    flex-direction: column;
    /*width: 100%;*/
    margin-bottom: 2rem;
}

.CreateDeck-form-col {
    padding: 0 .1rem;
}

.CreateDeck-create-deck-h1, .EditDeck-edit-deck-h1 {
   margin-bottom: 1rem;
}
.CreateDeck-heading-form-row {

}

#CreateDeck-name, #CreateDeck-description, #EditDeck-deck-name, #EditDeck-deck-description, 
#EditCard-front-text, #AddCard-front-tex, #EditCard-front-text, #AddCard-front-text, 
#EditCard-back-text, #AddCard-back-text {
    display: block;
    width: 100%;
    margin-top: .5rem;
    padding: .6rem;
    border:rgb(118, 118, 118) 1px solid;
}

#CreateDeck-description, #EditDeck-deck-description {
    height: 11rem;
}
.CreateDeck-cancel-btn {
    margin-right: .5rem;
}
.CreateDeck-submit-btn {

}

.CreateDeck-form {

}

/* End of CreateDeck.js */



/* Start of AddCard.js */

.AddCard-main-row {
    display: flex;
    flex-direction: column;
}

.AddCard-heading-col {
    padding: 0;
    margin-bottom: 1rem; 
}

.AddCard-add-card-h1, .AddCard-deck-name-h1 {
    display: inline;
}

#AddCard-front-text, #AddCard-back-text {
    display: block;
    width: 100%;
    height: 11rem;
}
.AddCard-done-btn {
    margin-right: .5rem;
}

.AddCard-save-btn {

}

/* End of AddCard.js */

/* Start of AddEditCards.js */

.AddEditCards-form-col {
    margin-bottom: 2rem;
    padding: 0 .843rem;
}

/* End of AddEditCards.js*/

/* Start of Study.js */

.Study-btns-div {
    margin-top: 2rem;
    display: flex;
    gap: 1rem;
}

.Study-main-row {
    flex-direction: column;
    margin-bottom: 5.5rem;
}

.Study-main-col-h1 {
    margin-bottom: 2rem;
}

.Study-main-col {
    padding: 0 .1rem 0 .1rem;
    flex-direction: column;
}

.Study-flip-btn {
  padding: .4rem .8rem;
}
.Study-next-btn, .Study-flip-btn {
    width: 3.7rem;
}
.Study-next-btn {
  padding: .4rem .75rem;
}

.Study-add-cards-to-deck {

}

.Study-cards-row {
    flex-direction: column;
    /*width: 100%;*/
    margin-bottom: 2rem;
}

/* End of Study.js */


/* Start of Deck.js */

.Deck-deck-row {

}

.Deck-deck-btns-div {

}

.Deck-card-trashcan-image {
    width: 1.7rem;
    height: 1.75rem;
}

.Deck-card-edit-image {
    width: 1.3rem;
    height: 1.25rem;
}

.Deck-deck-trashcan-image {
    width: 1.8rem;
    height: 1.8rem;    
}

.Deck-deck-btns-div > * {
    /*margin-right: .5rem;*/
}

.Deck-deck-btns-div :nth-child(3) {

}

.Deck-deck-delete-deck-btn {
  padding: 0 .6rem;
  /*position: relative;
  left: 67.77%;*/
  margin-right: 1rem;
  width: 3rem;
  height: 3rem;
}
.Deck-card-delete-card-btn {
  padding: .4rem .5rem;
}

 .Deck-add-cards-to-deck, .Deck-edit-deck-btn {
  padding: 0 .6rem 0 .4rem;
}

.Deck-deck-edit-deck-btn {
    padding: 0rem .69rem 0rem .295rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 4.2812rem;
    gap: .154rem;
}

.Deck-card-col {
    border: 1px solid #dfd6d6;
    padding: 1.1rem;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    /*width: 100%;*/
    gap: 5rem;
}

.Deck-card-col-no-cards {
    border: 1px solid white;
    padding: 1.1rem;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    /*width: 100%;*/
    gap: 5rem;
}

.Deck-card-div-btns-div {
    display: flex;
    gap: .5rem;
}
.Deck-card-div-front-div {
    width: 50%;
    height: 100%;
}

.Deck-card-div-front-p {

}

.Deck-card-div-back-div {
    display: flex;
    flex-direction: column;
    align-items: end;
    width: 50%;
    height: 100%;
    /*justify-content: center;*/
}

.Deck-card-div-back-p {

}

.Deck-deck-col {
    margin-bottom: 2rem;
}
.card-div:has(.Deck-card-div-back-div):has(.Deck-card-div-btns-div):has(.Deck-card-delete-card-btn):active,
.Deck-deck-col:has(.select-deck-btns-div):has(.Deck-deck-delete-deck-btn):active {
background-color: #d7d7d7d9;
}
.Deck-cards-div {

}

.Deck-edit-deck-btn {

}

.Deck-card-edit-card-btn {
  padding: .4rem .7rem .4rem .4rem;
  width: 4rem;
  gap: .165rem;
}
.Deck-deck-study-btn {
    width: 4.3rem;
    padding: .7rem 0.33rem .7rem 0.1rem;
    gap: .09rem;
}
.Deck-deck-add-cards-to-deck-btn {
  padding: 0 .29rem 0 .08rem;
  width: 4.56rem;
}

 .Deck-deck-add-cards-to-deck-btn, .Deck-edit-deck-btn, .Deck-deck-study-btn, .Deck-deck-delete-deck-btn, .Deck-card-edit-card-btn, .Deck-card-delete-card-btn {
   display: flex;
   align-items: center;
   justify-content: center;
 }

 .Deck-deck-edit-image {
    width: 1.3rem;
    height: 1.46rem;
 }

 .Deck-deck-book-image {
    width: 1.4rem;
    height: 1.4rem;
}

.Deck-deck-add-image {
    width: 1.5rem;
    height: 1.9rem;
}

/* End of Deck.js */



/* Start of EditDeck.js */

.EditDeck-form-col {
    padding: 0;
}

.EditDeck-deck-link {
    /*margin: 0 .4rem;*/
}

#EditDeck-deck-name, #EditDeck-deck-description {
    display: block;
    width: 100%;
}

#EditDeck-deck-description {
    height: 12rem;
    margin-bottom: 1rem;
}

.EditDeck-cancel-btn {
    margin-right: .5rem;
}

.EditDeck-cancel-btn, .EditDeck-submit-btn {
  padding: .4rem .7rem;
}

/* End of EditDeck.js */


/* Start of EditCard.js */

.EditCard-heading-col {
    padding: 0 .1rem;
}
.EditCard-main-row {
    flex-direction: column;
} 

.EditCard-h1 {
    margin-bottom: 1rem;
}

.EditCard-cancel-btn {
    margin-right: .5rem;
}

.EditCard-cancel-btn, .EditCard-submit-btn {
    padding: .4rem .7rem;
}
.EditCard-submit-btn {

}
#EditCard-front-text, #EditCard-back-text {
    display: block;
    width: 100%;
    overflow-y: auto;
    padding-left: 1rem;
    padding-top: .5rem;
    padding-bottom: .5rem;
    height: 11rem !important;
}

#EditCard-front-text {
    height: 5.7rem;
}

#EditCard-back-text {
    height: 6rem;
    margin-bottom: 1rem;
    width: 100%;
}

.EditCard-front-text-label {
    width: 100%;
}

/* End of EditCard.js */

/* Start of media queries */

@media (min-height: 933px) {
    .nav-bar {
        font-size: 1.3rem;
    }
    .Layout-index-container {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 3.5rem;
    }
    .decks-row, .Deck-card-row {
        /*gap: 5.45rem !important;*/
        margin-bottom: 2rem !important;
    }
    .Layout-index-deck-col {
        padding: 1.25rem 1.25rem 1rem 1.25rem !important;
    }
    .CreateDeck-main-row, .EditDeck-main-row, .AddCard-main-row, .EditCard-main-row {
        /*padding-bottom: 50%;*/
    }
    .CreateDeck-create-deck-h1, .EditDeck-edit-deck-h1, .AddCard-deck-name-h1, .AddCard-add-card-h1 {
        /*margin-bottom: 1.5rem !important;*/
    }
    .CreateDeck-form, .EditDeck-edit-deck-form, .AddEditCards-form {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    .end-footer {
        bottom: 0;
        width: 100%;
        position: fixed;
    }
    .Layout-main-row { 
        min-height: 10vh !important;
    }
    .Deck-card-col, .Deck-card-col-no-cards {
        /*width: 100%;*/
        gap: 12rem !important;
    }
    .Deck-deck-edit-deck-btn {
        padding: 0rem .69rem 0rem 0rem !important;
        width: 6.7rem !important;
    }
    .Deck-deck-study-btn {
        width: 6.67rem !important;
        padding: .7rem 0.25rem .7rem 0 !important;
    }
    .Deck-deck-book-image {
        width: 1.55rem !important;
        height: 1.5rem !important;
    }
    .Deck-deck-add-cards-to-deck-btn {
        padding: 0 .4rem 0 .2rem !important;
        width: 7.1rem !important;
    }
    .Deck-deck-delete-deck-btn {
        padding: 0 .6rem !important;
        /*position: relative;
        left: 67.77%;*/
        margin-right: .89rem !important;
        width: 3.4rem;
    }
    .Deck-deck-add-image {
        width: 1.6rem !important;
        height: 1.78rem !important;
    }
    .Deck-card-trashcan-image {
        width: 1.85rem;
        height: 1.8rem;
    }
    .Deck-deck-trashcan-image {
        width: 2rem;
        height: 1.9rem;
    }
    .Deck-card-delete-card-btn {
        width: 3.2rem;
        height: 2.5rem;
    }
    .Deck-card-edit-card-btn {
        padding: .4rem .9rem .4rem .4rem !important;
        width: 5rem !important;
        gap: .2rem;
    }
    .Deck-card-edit-image {
        width: 1.3rem;
        height: 1.2rem;
    }
    .Deck-deck-row {

    }
    .Deck-deck-edit-image {
        width: 1.45rem;
        height: 1.54rem;
    }
    .cancel-submit-btns-div {
        margin-top: 0;
    }
    .Study-main-row {

    }
    .Study-flip-btn, .Study-next-btn {
        width: 5rem;
    }
    .card-body {
        padding: 2rem;
    }
    .Study-btns-div {
        gap: 1.5rem;
    }
}

@media (min-width: 768px) {
    .nav-bar {
        font-size: 1.3rem;
    }
    .Layout-index-container {
        min-height: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 3.5rem;
    }
    .decks-row, .Deck-card-row {
        /*gap: 5.45rem !important;*/
        margin-bottom: 2rem !important;
    }
    .Layout-index-deck-col {
        padding: 1.25rem 1.25rem 1rem 1.25rem !important;
    }
    .CreateDeck-main-row, .EditDeck-main-row, .AddCard-main-row, .EditCard-main-row {
        /*padding-bottom: 50%;*/
    }
    .CreateDeck-create-deck-h1, .EditDeck-edit-deck-h1, .AddCard-deck-name-h1, .AddCard-add-card-h1 {
        /*margin-bottom: 2rem !important;*/
    }
    .CreateDeck-form, .EditDeck-edit-deck-form, .AddEditCards-form {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    .end-footer {
        bottom: 0;
        width: 100%;
        position: fixed;
    }
    .Layout-main-row { 
        min-height: 10vh !important;
    }
    .Deck-card-col, .Deck-card-col-no-cards {
        /*width: 100%;*/
        gap: 12rem !important;
    }
    .Deck-deck-edit-deck-btn {
        padding: 0rem .69rem 0rem 0rem !important;
        width: 6.7rem !important;
    }
    .Deck-deck-study-btn {
        width: 6.67rem !important;
        padding: .7rem 0.25rem .7rem 0 !important;
    }
    .Deck-deck-book-image {
        width: 1.55rem !important;
        height: 1.5rem !important;
    }
    .Deck-deck-add-cards-to-deck-btn {
        padding: 0 .4rem 0 .2rem !important;
        width: 7.1rem !important;
    }
    .Deck-deck-delete-deck-btn {
        padding: 0 .6rem !important;
        /*position: relative;
        left: 67.77%;*/
        margin-right: .89rem !important;
        width: 3.4rem;
    }
    .Deck-deck-add-image {
        width: 1.6rem !important;
        height: 1.78rem !important;
    }
    .Deck-card-trashcan-image {
        width: 1.85rem;
        height: 1.8rem;
    }
    .Deck-deck-trashcan-image {
        width: 2rem;
        height: 1.9rem;
    }
    .Deck-card-delete-card-btn {
        width: 3.2rem;
        height: 2.5rem;
    }
    .Deck-card-edit-card-btn {
        padding: .4rem .9rem .4rem .4rem !important;
        width: 5rem !important;
        gap: .2rem;
    }
    .Deck-card-edit-image {
        width: 1.3rem;
        height: 1.2rem;
    }
    .Deck-deck-row {

    }
    .Deck-deck-edit-image {
        width: 1.45rem;
        height: 1.54rem;
    }
    .cancel-submit-btns-div {
        margin-top: 0;
    }
    .Study-main-row {

    }
    .Study-flip-btn, .Study-next-btn {
        width: 5rem;
    }
    .card-body {
        padding: 2rem;
    }
    .Study-btns-div {
        gap: 1.5rem;
    }
}

/* end  of media queries */